@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFF7DA;
  color: #3a3a3a;

}

a {
  color: #D2474D;
}

.btn,p {
  font-weight: 600;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Patua One', cursive;
}
.jumbotron {
  color: #FFF7DA;
  background-color: #D2474D;
}

.jumbotron h1 span {
  border-bottom: 2px solid #FFF7DA;
  padding-bottom: 10px;
}
.jumbotron h1 {
  margin-bottom: 30px;
}

.panel-default {
  border: 2px solid #D2474D;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.7);

}

.panel-default>.panel-heading {
  background-color: #D2474D;
  color: #fff7da;
  font-family: 'Patua One', cursive;
  font-size: 25px;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
}

.left p {
  font-size: 19px;
}

.footer {
  font-weight: 600;
}

#placeholder {
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #D2474D;
  font-size: 25px;
  padding: 15px 5px;
  margin: 10px 0;
  border: 1px dotted #D2474D;
}

#lettersGuessedSpace {
  font-size: 23px;
  letter-spacing: 5px;
  display: block;
  position: relative;
  overflow: hidden;
  word-break: break-all;
}

#name {
  font-variant: small-caps;
  font-family: 'Patua One', cursive;
  font-size: 25px;
}

#spotify iframe {
  width: 100%;
}

